local M = {}

-- where swap files are going to be stored
M.tempdir = false

-- make sure the cursor keeps the "beam" shape
M.preserve_beam_cursor = false

-- Number of lines for "small" windows
M.small_screen_lines = 17

-- Path to project local settings folder
M.project_store = nil

-- Icons for lazy.nvim's ui (in case nerd fonts are not available)
M.lazy_icons = {
  cmd = "⌘",
  config = "🛠",
  event = "📅",
  ft = "📂",
  init = "⚙",
  keys = "🗝",
  plugin = "🔌",
  runtime = "💻",
  source = "📄",
  start = "🚀",
  task = "📌",
  lazy = "💤 ",
}

-- make spanish keyboard layout easier to use
-- require('local.latam-qwerty')

return M

