vim.g.env = {
  -- where swap files are going to be stored
  tempdir = false,

  -- make sure the cursor keeps the "beam" shape
  preserve_beam_cursor = false,

  -- Number of lines for "small" windows
  small_screen = 19,

  -- Path to project local settings folder
  project_store = nil,

  -- Enable settings for latam qwerty keyboard layout
  latam_qwerty = false
}

