# Be quiet
set bell-style none

# Perform file completion in a case insensitive fashion
set completion-ignore-case on

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Enable history expansion with space
# E.g. typing !!<space> will replace the !! with your last command
Space: magic-space

TAB: menu-complete

# Alt + k
"\ek": history-search-backward

# Alt + j
"\ej": history-search-forward

# Alt + h
"\eh": backward-char

# Alt + l
"\el": forward-char

# Up Arrow
"\e[A": history-search-backward

# Down Arrow
"\e[B": history-search-forward

# Right Arrow
"\e[C": forward-char

# Left Arrow
"\e[D": backward-char

"\C-xa": alias-expand-line
