local M = {}

-- where swap files are going to be stored
M.tempdir = false

-- where fzf lives, or at least where the "plugin" folder is located
M.fzf_path = false

-- path to a vim script, probably ~/my-configs/vim/theme.vim
M.theme_tweaks = false

return M
